.create {
  color: #ff2e00;
}

.modal {
  text-align: center;
  margin-top: 15%;
  background-color: #2f2f2f;
  padding: 50px;
  width: 25%;
  height: 25%;
  margin-left: 39%;
  border-radius: 20px;
}

.itemprof {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ff2e00;
}

.create-button {
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ff2e00;
    cursor: pointer;
    font-size: 16px;
}

.create-button:hover {
    background-color: #ff2f00a1;
}

.profinp {
    padding: 15px;border-radius: 5px;
    background: transparent;
    width: 278px;
}