.filmName {
  color: #ff3d00;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 50px;
}

.items {
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin-top: 50px;
}

a{
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 36px;
}

.age {
  width: 40px;
  height: 35px;
  text-align: center;
  border-radius: 7px;
  background: rgba(203, 200, 200, 0.3);
}

.author {
  width: 200px;
  height: 35px;
  text-align: center;
  border-radius: 7px;
  background: rgba(203, 200, 200, 0.3);
}

.back {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.netflix {
  background: rgba(203, 200, 200, 0.3);
  width: 80px;
  height: 40px;
  border-radius: 7px;
  text-align: center;
}