input {
  background-color: #131313;
  margin-left: 35%;
  color: white;
  width: 400px;
  height: 60px;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid #ff3d00;
}

input:focus{
    border: 1px solid #ff3d00;
}
.buy {
    height: 60px;
}

.searched {
    color: #ff3d00;
    text-align: center;
    margin-top: 50px;
}
