*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #131313;
}

.for-all {
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.pages {
    position: fixed;
    bottom: 0;
    width: 100%;
}